@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  /* background-color: #242424; */
  background-color: white;
}

/* h1,h2,h3,h4,h5,h6,p{
  color: #ffffffde;
}  */

.customButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffffde;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.customButton:hover {
  border-color: #646cff;
}
.customButton:focus,
.customButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}