@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family:Poppins;
}

body {
  /* background-color: #242424; */
  background-color: text-white;
  background-image: url("/bg2.jpg");
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position: center;
  height:100vh;
  margin: 0;
}

.customHeader {
  background-color: text-white;
  background-image: url("/bgHeader.jpg");
  background-size: 100%; 
  background-repeat: no-repeat; 
  background-position: center;
}

.customButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #ffffffde;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.customButton:hover {
  border-color: #646cff;
}
.customButton:focus,
.customButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}